In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
from pandas.tseries.offsets import MonthEnd

df = pd.read_csv('canretail.csv',
                 skiprows=6, skipfooter=9,
                 engine='python')

df['Adjustments'] = pd.to_datetime(df['Adjustments']) + MonthEnd(1)
df = df.set_index('Adjustments')
df.head()

             Unadjusted  Seasonally adjusted
Adjustments
1991-01-31     12588862             15026890
1991-02-28     12154321             15304585
1991-03-31     14337072             15413591
1991-04-30     15108570             15293409
1991-05-31     17225734             15676083

# Exercise 1
### Sequence rather than vector
Now rather than using (# samples, 1, 12), which is a vector of coordinates
Use (# samples, 12, 1), which is sequence of values instead. This will actually be like passing 12 consecutive months, one at a time. Also experiment with batch size